

.main {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.statesTitle {
    display: flex;
    justify-content: center;
}

.container {
    justify-content: space-evenly;
    width:90%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding: 75px 50px 50px 50px;
}

.stateContainer {
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;
    width: 220px;
    height: 100%;
    background: grey;
    /* margin: 0 auto; */
    margin: 10px;
    position: relative;
}



.stateButton {
    height: 100%;
    color: rgb(250, 250, 250);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    /* background: grey; */
    border: none;
    text-decoration: none;
    background:
    linear-gradient(
      to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%
    );
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 4px 0px;
   transition: background-size .4s;
   letter-spacing: 2px;
   font-weight: bold;
   font-size: 22px;
   text-shadow: 3px 2px 3px black;
}


.stateButton:hover {
    background-size: 4px 100%;
    height: 100%;
    color: white;
    transition: .6s
  }

.stateImage {
    height: 200px ;
    width: 200px ;

}

