:root {
    --mainColor: rgb(228, 115, 74);
  }

.main {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}

.statesTitle {
    display: flex;
    justify-content: center;
}

.container {
    justify-content: space-evenly;
    width:95%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
}

.stateContainer {
    align-self: stretch;
    order: 0;
    flex: 0 0 0px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 90px;
    width: 220px;
    height: 100%;
    background: grey;
    /* margin: 0 auto; */
    margin: 10px;
}

.stateButton {
    color: black;
    /* background: grey; */
    border: none;
    text-decoration: none;
    background:
    linear-gradient(
      to bottom, var(--mainColor) 0%,
      var(--mainColor) 100%
    );
   background-position: 0 100%;
   background-repeat: repeat-x;
   background-size: 4px 0px;
   transition: background-size .4s;

}

.stateButton:hover {
    background-size: 4px 100%;

  }

.stateImage {
    height: 200px ;
    width: 200px ;

}

