.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center

}

.homeContainer {
    /* position: absolute; */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.imgContainer {
    width: 100%;
    position: relative;
    top: 0;
}

.overlay {
    background: rgba(0,0,0,0.2);

}

.homeContainer > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.login-display {
    background: none;
    color:white;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 65px;
    position: absolute;
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#welcomeText {
    margin-top: 25px;
    font-size: 60px;
    text-align: center;

    -webkit-animation: fadein 4s; 
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.homeContainer img{
    width: 100%;

}

