.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center

}

.homeContainer {
    position: absolute;
    background-image: url('../../photos/clouds-conifers-daylight.jpg');
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 75px 0 0 0
    
    /* min-width: 700px; */
}

.imgContainer {
    width: 100%;
    position: absolute;
    top: 0;
}

.overlay {
    background: rgba(0,0,0,0.2);

}

.homeContainer > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
    overflow: hidden;
    position: relative;
}

.login-display {
    background: none;
    color:white;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: auto;
    position: relative;
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    text-shadow: 1px 1px 1px black;
}

#welcomeText {
    font-size: 60px;
    text-align: center;

    -webkit-animation: fadein 4s; 
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.homeContainer img{
    width: 100%;
    height: 100%

}


@media( max-width: 700px){
    #welcomeText {
        font-size: 30px;
        text-align: center;
    
        -webkit-animation: fadein 4s; 
    }
    
    .homeContainer {
        background-size: 130%;
        background-image: url('../../photos/waterfall.jpeg');

    }

    .homeContainer .login-display {
        position: relative;

    }


}
