.mainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;

}

.trailContainer {
    display: flex;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    padding-top: 30%;
    padding-bottom: 0;
    height: 30%;

    /* align-content: center; */
    /* background: rgb(228, 115, 74); */

}

.imageContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    align-items: center;

    /* height: 1500px */
    
}

.trailImage {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    border-radius: 10px;
}

.infoContainer {
    border-radius: 10px;
    justify-content: center;
    display: flex;
    max-width: 600px;
    max-height: 600px;
    min-width: 400px;
    min-height: 400px;
    /* margin: 20px; */
    flex-direction: column;
    text-align: left;
    background: rgb(204, 204, 204);
    padding: 20px;
    align-content: center;
}

.infoContainer > h6 {
    padding: 10px
}

.reviewFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviewForm {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    width: 60vw;
    height: 30vh;
    background: rgb(204, 204, 204);
    margin: 4px;
    flex-direction: column;
    text-align: left
}

#reviewBody {
    height:120px;
    width: 400px;
    margin: 3px;

}

#rating {
    width:400px
}

.postButton {
    height: 20px;
    width: 85px;
    justify-content: center;
    align-self: center;
}

.displayedReviewsContainer {
    display: flex;
    justify-content: center;
    background: rgb(204, 204, 204);
    align-content: center;
    border-radius: 10px;
    margin: 4px;
    width: 60vw;
    position: relative;
    height: auto;

}

.displayedReviews {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding:1%;
}

.weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}