
:root {
    --mainColor: darkgrey;
  }


.webTitle{
    font-size: 25px;
    margin: 20px;
    color: black;
    -webkit-animation: fadein 3s; 

  }

  
  .NavBack {
      color: none;
      position: absolute;
      display: flex;
      background: none;
      height: 80px;
      /* margin-bottom:10%; */
      width: 100vw;
      flex-direction: row-reverse;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      z-index: 1;
      /* min-width: 700px; */
    }
    
a {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-decoration: none;
    
    
}
    

.buttonContainer {
    display: flex;
    height: 10vh;
    align-items: stretch;
    
}

.navButton {
    text-decoration: none;
    /* background: grey; */
    border-color: darkgray;
    border: none;
    padding: 20px;
    background:
     linear-gradient(
       to top, var(--mainColor) 100%,
       var(--mainColor) 0%
     );
    background-position: 100% 0;
    background-repeat: repeat-x;
    background-size: 4px 0px;
    transition: background-size .4s;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    
}

.navButton:hover {
    background-size: 4px 90px;
    
    
  }


  #profileButton {
    font-size: 15px;
    

    -webkit-animation: fadein 4s; 
  }
  

  #authButton {
    font-size: 15px;

    -webkit-animation: fadein 5s; 
  }

  #findTrailsButton {
    font-size: 15px;

    -webkit-animation: fadein 6s; 
  }

  #homeButton {
    font-size: 15px;

    -webkit-animation: fadein 7s; 
  }

  .hamburgerButton {
    display: none;
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media( max-width: 700px){
  .hamburgerButton {
    display: initial;
        position: fixed;
        z-index: 1;
        height: 60px;
        width: 80px;
        font-size: 24px;
        border-radius: 10px;
        top: 30px;
        right: 30px;
        font-size: 20px
        
    
  }

.NavBack {
  height: 100vh;
  width: 160px;
  background-color: darkgrey;
  z-index: 5;
  position: fixed;
}

.hamburgerButton{
  color: white;
  display: flex;
  /* position: absolute; */
  z-index: 6;
  background: black;
}

.webTitle {
  display: none;
}
.buttonContainer {
  display: flex;
  flex-direction: column;

}

#profileButton {
  font-size: 15px;
  

}


#authButton {
  font-size: 15px;

}

#findTrailsButton {
  font-size: 15px;

}

#homeButton {
  font-size: 15px;

}


header {
  position: relative;
  z-index: 9999;
  transition: .3s;
}

  header > nav {
    position: fixed;
    top: 0;
    left: 0;
    background: grey;
    transform: translate(0px, 100vh);
    transition: 1s;
    z-index: 10000;
  }

  header nav ul {
    /* display flex is unneeded here but is still being shown because of the specification above with it */
    /* display: flex; */
    min-width: 100vw;
    height: 100vh;
    flex-direction: column;
    padding: 20px 0;
    }

    .show {
      transform: translate(0px, 0px)
      }

    .hide {
      transform: translate(-165px, 0px)
      }
}