
:root {
    --mainColor: rgb(228, 115, 74);
  }

.logo {
    align-content: flex-start;
    height: 80px;
    width: 80px;
}

.webTitle{
    margin: 20px;
  }

.NavBack {
    display: flex;
    background: grey;
    height: 80px;
    width: 100vw;
    flex-direction: row-reverse;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

.buttonContainer {
    display: flex;
    height: 80px;
    align-items: stretch;
    /* padding: 20px; */
    
}

.navButton {
    text-decoration: none;
    /* background: grey; */
    border: 1px;
    border-color: darkgray;
    color:black;
    padding: 20px;
    background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 0px;
    transition: background-size .4s;
    

}

.navButton:hover {
    background-size: 4px 90px;
  }