
:root {
    --mainColor: rgb(204, 204, 204);
  }

.logo {
    /* align-content: center; */
    height: 80px;
    width: 80px;
}

.webTitle{
    font-size: 25px;
    margin: 20px;
    color: black;
    -webkit-animation: fadein 3s; 

  }

  
  .NavBack {
      color: none;
      position: absolute;
      display: flex;
      background: none;
      height: 80px;
      
      width: 100vw;
      flex-direction: row-reverse;
      align-items: center;
      font-family: 'Montserrat', sans-serif;
      z-index: 1;
    }
    
a {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-decoration: none;
}
    
.userNameBox {
    order: 3;
    display: flex;
    height: 80px;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 20px;
    margin-right: 350px;
    flex-direction: column;
    color:black
}


.buttonContainer {
    display: flex;
    height: 80px;
    align-items: stretch;
}

.navButton {
    text-decoration: none;
    /* background: grey; */
    border-color: darkgray;
    border: none;
    padding: 20px;
    background:
     linear-gradient(
       to top, var(--mainColor) 100%,
       var(--mainColor) 0%
     );
    background-position: 100% 0;
    background-repeat: repeat-x;
    background-size: 4px 0px;
    transition: background-size .4s;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;


}

.navButton:hover {
    background-size: 4px 90px;
  }

  #profileButton {
    font-size: 15px;

    -webkit-animation: fadein 4s; 
  }
  

  #authButton {
    font-size: 15px;

    -webkit-animation: fadein 5s; 
  }

  #findTrailsButton {
    font-size: 15px;

    -webkit-animation: fadein 6s; 
  }

  #homeButton {
    font-size: 15px;

    -webkit-animation: fadein 7s; 
  }

  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}